/* основные стили, которые применяются ко всем элементам на странице */

html, body {
    font-family: Commissioner, sans-serif;
    color: #000000;
    letter-spacing: -0.015em;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.burger {
    display: none;
}

.container {
    max-width: 1512px;
    padding: 0 0;
    margin: 0 auto;
    height: 100%;
}


/* ====================================HEADER========================================= */

.header__logo-special {
    display: none;
}

.header__inner {
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
}

.header__logo span {
    display: block;
    font-weight: 800;
    font-size: 25px;
    line-height: 31px;
    margin: 29px 539px 28px 0px;
}

.header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 34px 0px 33px;
}

.header__nav-link {
    white-space: nowrap;
}

.header__nav-item {
    margin-right: 50px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    transition: all 1.3s;
}

.header__nav-item:hover {
    color: #18A0FB;
    transition: all 0.3s;
}

/* убираю отступ у последнего элемента в навигации */
.header__nav-item:last-child {
    margin-right: 67px;
}

.header__button {
    background: #18A0FB;
    border-radius: 6px;
    padding: 10px 15px 10px 15px;
    margin: 24px 0px;
    transition: all 1.3s;
    white-space: nowrap;
}

/* кнопка увеличивается при наведении */
.header__button:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.header__btn {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

/* ====================================MAIN========================================= */
/* ====================================PHOTO========================================= */

/* чтобы фото распологалось на заднем фото */
.photo {
    background: url("../images/main.jpg") no-repeat;
    background-size: 100%;
    background-position: center center;
    width: 100%;
    height: 926px;
}

.photo__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.photo__heading {
    padding-top: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading__title {
    font-weight: 800;
    font-size: 55px;
    line-height: 80px;
    margin-bottom: 15px;
}

.heading__subtitle {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 38px;
}

.photo__button {
    background: #18A0FB;
    border-radius: 6px;
    padding: 15px 46px 16.3px;
    transition: all 1.3s;
}

.photo__button:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.photo__btn {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

/* ====================================GIRLS========================================= */

/* тут все обычно - фото слева, текст справа */

.girls__inner {
    padding: 111px 90px 0;
    display: flex;
}

.girls__photo {
    margin-right: 235px;
}

.girls__heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 14px;
}

.girls__par {
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.8);
    max-width: 543px;
}

/* ====================================HISTORY========================================= */

.history__inner {
    margin-top: 104px;
    padding: 0px 90px;
}

.history__heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 71px;
    text-align: center;
}

.history__blocks {
    display: flex;
    flex-direction: column;
}

.history__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 79.97px;
}

/* так как у нас 2 блок идет наоборот - то и перемещаю элементы в обратном порядке */
.history__block:nth-child(2) {
    flex-direction: row-reverse;
}

.history__block:last-child {
    margin-bottom: 0;
}

/* пишу через запятую, так как все повторяется в этих 3 элементах */
.history__title1, .history__title2, .history__title3 {
    font-weight: 700;
    font-size: 27px;
    line-height: 36px;
    margin-bottom: 32px;
}

.history__par1, .history__par2, .history__par3 {
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.8);
    max-width: 543px;
}

/* ====================================SLIDER========================================= */

.filter__inner {
    margin-top: 104px;
    padding: 0px 90px 0px 91px;
    display: flex;
    flex-direction: column;
    margin: 104px 0px 60px;
}

.filter__heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 51px;
}

.filter__text {
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 80px;
    text-align: center;
}

.filter__cols {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
}

/* добавила элемент через псевдоэлемент after на задний фон */

.filter__cols::after {
    content: "";
    background: url("../images/filter.png") 0 0 / 100% no-repeat;
    position: absolute;
    top: 60px;
    left: 0;
    width: 1331px;
    height: 447px;
}

.filter__col {
    opacity: 30%;
    transition: all 1.3s;
}

/* когда пользователь мышкой наводится на колонку - сразу и верхнее значение (цифра) и название подсвечиваются и немного увеличиваются */

.filter__col:hover {
    opacity: 100%;
    transition: all 0.3s;
    transform: scale(1.03);
}

.filter__button {
    border: 1px solid #000000;
    border-radius: 6px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 516px;
    padding: 10px 50.29px 9px 50.71px;
}

/* меняю отступы внутри у нижних кнопок с "названиями" */
.filter__button:last-child {
    margin-bottom: 0;
    padding: 10px 36.29px 9px 36.81px;
}

/* перемещаю ползунок выше между картинкой и нижними названиями */
.filter__range {
    transform: translateY(-79px);
}

/* тут дальше и до конца секции сложный код, который сгенерировался через приложение автоматически 
- и тогда ползунок двигается на экране */

input[type=range] {
    height: 5px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #353535;
    background: #000000;
    border-radius: 6px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #ffe2e2;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000000;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #353535;
    background: #000000;
    border-radius: 6px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #ffe2e2;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background: #000000;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #000000;
    border: 0px solid #000000;
    border-radius: 15px;
    box-shadow: 0px 0px 0px #353535;
}

input[type=range]::-ms-fill-upper {
    background: #000000;
    border: 0px solid #000000;
    border-radius: 15px;
    box-shadow: 0px 0px 0px #353535;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #ffe2e2;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background: #000000;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #000000;
}

input[type=range]:focus::-ms-fill-upper {
    background: #000000;
}

/* ====================================MAP========================================= */

/* обычная секция с фото и тексом */

.map__inner {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map__heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 64px;
}

.map__photo {
    margin-bottom: 80px;
}

.map__button {
    background: #18A0FB;
    border-radius: 6px;
    padding: 15.3px 35.78px 15.7px 35.22px;
    margin-bottom: 56px;
    transition: all 1.3s;
}

.map__button:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.map__btn {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

/* ====================================FOOTER========================================= */

/* .footer {
    background: url("../images/footer.svg") no-repeat;
    background-size: 100%;
    background-position: center center;
    width: 100%;
    height: 675px;
    margin-bottom: -256px;
} */

/* .footer__inner::after {
    content: "";
    position: absolute;
    top: 118px;
    left: 0;
    background: url("../images/footer.svg") no-repeat;
    background-size: 100%;
    background-position: center center;
    width: 100%;
    height: 100%;
} */

.footer__inner {
    position: relative;
    padding: 51px 216px 0px 203px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}

.footer__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* у каждой колонки разные отсупы, поэтому их задаем так через псевдоклассы */

.footer__col:first-child {
    margin-right: 162px;
}

.footer__col:nth-child(2) {
    margin-right: 81px;
}

.footer__col:nth-child(3) {
    margin-right: 84px;
}

.footer__col:nth-child(4) {
    margin-right: 82px;
}

.footer__col:last-child {
    justify-content: space-between;
}

.footer__heading {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

/* особый заколовок */
.footer__heading--special {
    text-align: center;
}

.footer__item {
    margin-top: 11px;
}

.footer__item-link {
    font-weight: 200;
    font-size: 17px;
    line-height: 21px;
}

.footer__button {
    background: #18A0FB;
    border-radius: 6px;
    padding: 15.3px 46.78px 15.7px 46.22px;
    transform: translateY(25%);
    transition: all 1.3s;
}

.footer__button:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.footer__btn {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-top: 75.3px;
}

.footer__icons-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.footer__icons {
    display: flex;
}

.footer__icons-item {
    display: block;
    margin-right: 31px;
    margin-bottom: -28px;
    transition: all 1.3s;
}

/* увеличиваю иконки соц сетей при наведении */
.footer__icons-item:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

/* убираю отсуп слева у последней иконки */

.footer__icons-item:last-child {
    margin-right: 0;
}

.footer__icons-link {
    display: block;
    width: 40px;
    height: 40px;
}

.footer__photo img {
    width: 100%;
}


/* убираю фото на задний план */
/* .footer__photo {
    background-size: 100%;
    z-index: -5;
} */

/* ====================================MEDIA========================================= */
/* ====================================1500========================================= */

@media (max-width: 1500px) {
    .header__logo span {
        margin-right: 443px;
        white-space: nowrap;
    }

    .photo {
        height: 700px;

    }

}

/* ====================================1400========================================= */

@media (max-width: 1400px) {
    .header__logo span {
        margin-right: 380px;
    }

    .photo {
        height: 600px;
    }

    .girls__photo {
        margin-right: 100px;
    }

    .history__photo-img {
        max-width: 600px;
    }

    .footer__button {
        padding: 15.3px 40px 15.7px 40px;
        text-align: center;
    }

    .footer__btn a {
        display: block;
        white-space: nowrap;
    }

    .history__photo-img {
        max-width: 550px;
    }
}

/* ====================================1300========================================= */

@media (max-width: 1300px) {
    .header__inner {
        padding: 0px 60px;
    }

    .header__logo span {
        margin-right: 300px;
    }

    .history__photo-img {
        max-width: 400px;
    }
}

/* ====================================1250========================================= */

@media (max-width: 1250px) {
    .header__logo span {
        margin-right: 260px;
    }

    .photo {
        height: 600px;
    }

    .history__heading {
        font-size: 21px;
    }

    .history__par1, .history__par2, .history__par3 {
        font-size: 16px;
    }

    /* .footer__inner::after {
        content: "";
        position: absolute;
        top: 118px;
        left: 0;
        background: url("../images/footer.svg") no-repeat;
        background-size: 100%;
        background-position: center center;
        width: 100%;
        height: 100%;
    } */


}

/* ====================================1150========================================= */

@media (max-width: 1150px) {
    .header__logo span {
        margin-right: 170px;
    }

    .photo {
        height: 600px;
    }

    .history__photo-img {
        max-width: 344px;
    }

    .history__par1, .history__par2, .history__par3 {
        font-size: 14px;
    }

    .history__inner {
        margin-top: 82px;
        padding: 0px 30px;
    }

    .history__heading {
        font-size: 22px;
        margin-bottom: 58px;
    }

    .history__photo-img {
        max-width: 344px;
    }

    .history__title1, .history__title2, .history__title3 {
        font-size: 21px;
        margin-bottom: 12px;
    }

    .history__par1, .history__par2, .history__par3 {
        font-size: 14px;
        line-height: 32px;
        max-width: 344px;
    }

    .history__par3 {
        line-height: 27px;
    }

    .history__block {
        margin-bottom: 45px;
    }

    .history__block:last-child {
        margin-bottom: 0;
    }

    .map__heading {
        font-size: 22px;
    }

    .map__photo-img {
        width: 708px;
        height: 440px;
    }
}

/* ====================================1050========================================= */

@media (max-width: 1050px) {
    .header__logo span {
        margin-right: 130px;
    }

    .photo {
        height: 600px;
    }

    .girls__photo-img {
        max-width: 380px;
    }

    .girls__par {
        font-size: 14px;
    }
}

/* ====================================950========================================= */

@media (max-width: 950px) {
    .header__inner {
        padding: 0 45px;
    }

    .header__logo span {
        margin-right: 121px;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
    }

    .header__nav-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-right: 26px;
    }

    .header__nav-item:last-child {
        margin-right: 26px;
    }

    .header__button {
        padding: 8.5px 16.45px 10.05px 15.55px;
        margin: 17px 0px 17.45px;
        transition: all 1.3s;
        white-space: nowrap;
        align-self: center;
    }

    .header__btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        vertical-align: middle;
    }

    .heading__title {
        font-size: 40px;
    }

    .photo__button {
        padding: 11px 34px 13px;
    }

    .girls__inner {
        padding: 0px 40px;
    }

    .girls__photo-img {
        max-width: 350px;
    }

    .girls__heading {
        font-size: 24px;
    }

    /* .footer {
        margin-bottom: -287px;
    } */
}

/* ====================================850========================================= */

@media (max-width: 850px) {
    .photo {
        height: 500px;
    }

    .girls__inner {
        padding: 0px 35px;
        margin-top: 40px;
    }

    .girls__photo {
        margin-right: 30px;
    }
}

/* ====================================768========================================= */

@media (max-width: 768px) {
    .header__inner {
        padding: 0 30px;
    }

    .header__logo span {
        margin-right: 121px;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
    }

    .header__nav-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-right: 26px;
    }

    .header__nav-item:last-child {
        margin-right: 26px;
    }

    .header__button {
        padding: 8.5px 16.45px 10.05px 15.55px;
        margin: 17px 0px 17.45px;
        transition: all 1.3s;
        white-space: nowrap;
        align-self: center;
    }

    .header__btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        vertical-align: middle;
    }

    /* ================================== */
    .photo {
        background: url("../images/tablet.png") no-repeat;
        background-size: 100%;
        background-position: center center;
        width: 100vw;
        height: 100vh;
    }
    .photo__heading {
        padding-top: 253px;
    }
    .heading__title {
        font-size: 36px;
        margin-top: 0;
    }

    .heading__subtitle {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 21.99px;
    }

    .photo__button {
        padding: 10.12px 19.62px 9.68px 19.38px;
    }

    .photo__btn {
        font-size: 14px;
        line-height: 17px;
    }

    /* ================================== */
    .girls__inner {
        padding: 42px 30px 0;
    }

    .girls__photo-img {
        max-width: 342px;
    }

    .girls__photo {
        margin-right: 20px;
    }

    .girls__heading {
        font-size: 22px;
    }

    .girls__par {
        max-width: 344px;
        font-size: 14px;
    }

    /* ================================== */
    .filter__inner {
        display: none;
    }

    /* ================================== */
    .map__heading {
        font-size: 22px;
        margin-bottom: 58px;
    }

    .map__photo {
        margin-bottom: 58px;
    }

    .map__button {
        padding: 10.12px 10.62px 9.68px 9.38px;
        margin-bottom: 107px;
    }

    .map__btn {
        font-size: 14px;
    }

    /* ================================== */

    .footer__inner {
        padding: 0px 30px;
        position: relative;
    }

    .footer__col {
        font-size: 14px;
    }

    .footer__col:first-child {
        margin-right: 30px;
    }

    .footer__col:nth-child(2) {
        margin-right: 30px;
    }

    .footer__col:nth-child(3) {
        margin-right: 40px;
    }

    .footer__col:nth-child(4) a {
        white-space: nowrap;
    }

    .footer__col:nth-child(4) {
        margin-right: 30px;
    }

    .footer__heading {
        font-size: 14px;
    }

    .footer__heading1 {
        line-height: 21px;
        font-weight: 500;
    }

    .footer__button {
        padding: 10.12px 19.62px 9.68px 19.38px;
        transform: translateY(25%);
        text-align: center;
    }

    .footer__btn {
        font-size: 14px;
        line-height: 17px;
        margin-top: 75.3px;
    }

    .footer__item-link {
        font-size: 12px;
    }

    .footer__icons-link svg {
        width: 35px;
    }

    .footer__text {
        margin-bottom: 30px;
    }

    .footer__icons-inner {
        margin-bottom: 40px;
    }
}

/* ====================================750========================================= */

@media (max-width: 750px) {
    .header__inner {
        padding: 0 16px;
    }

    .header__logo span {
        margin-right: 50px;
    }

    .map__photo-img {
        width: 358px;
        height: 333px;
    }

    .history__blocks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .history__block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .history__block {
        margin-bottom: 45px;
    }

    .history__block:nth-child(2) {
        flex-direction: column;
    }

    .history__block:last-child {
        margin-bottom: 0;
    }

    .history__photo-img {
        max-width: 221px;
        margin-bottom: 15px;
    }

    .history__title1, .history__title2, .history__title3 {
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 12px;
    }

    .history__par1, .history__par2, .history__par3 {
        text-align: center;
        font-size: 12px;
        line-height: 24px;
        max-width: 344px;
    }
}

/* ====================================660========================================= */

@media (max-width: 660px) {
    .header__logo-special {
        display: block;
        font-weight: 800;
        font-size: 17px;
        line-height: 21px;
        margin: 19.5px auto 19.5px 30px;
        white-space: nowrap;
    }

    .burger {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 300;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .3s;
    }

    .burger--follow {
        top: 15px;
        right: 15px;
        box-shadow: 0 1px 8px #a1a1a1;
        background-color: #FFFFFF;
    }

    .burger span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000000;
        margin: 4px 0;
        z-index: 150;
    }

    .burger::before,
    .burger::after {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000000;
        z-index: 150;
    }

    .header__burger {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #FFFFFF;
        transition: all 0.3s;
        min-width: 320px;
        transform: translateX(100%);
        transition: all 0.7s;
        z-index: 100;
    }

    .header__burger--open {
        transform: translateX(0%);
    }

    .header__inner {
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
    }

    .header__logo span {
        margin: 90px auto;
        justify-self: center;
        align-self: center;
    }

    .header__nav-list {
        flex-direction: column;
        text-align: center;
        margin-right: 0;
    }

    .header__nav-item {
        padding: 20px 0px;
        text-align: center;
        margin-right: 0;
    }

    .header__nav-item:last-child {
        margin-right: 0;
    }

    /* ================================== */
    .girls__inner {
        padding-top: 100px;
        align-items: center;
        justify-content: center;
    }

    .girls__photo {
        display: none;
    }

    .girls__heading {
        text-align: center;
    }

}

/* ====================================600========================================= */
@media (max-width: 600px) {
    .footer__heading, .footer__heading1 {
        font-size: 13px;
    }
}

/* ====================================550========================================= */

@media (max-width: 550px) {
    .footer__inner {
        padding: 0px 16px;
    }

    .footer__text {
        flex-direction: column;
    }

    .footer__col {
        justify-content: center;
        align-items: center;
        font-size: 13px;
        line-height: 16px;
    }

    .footer__col:first-child {
        margin-right: 0;
    }

    .footer__col:nth-child(2) {
        margin-right: 0;
    }

    .footer__col:nth-child(3) {
        margin-right: 0;
    }

    .footer__col:nth-child(4) {
        margin-right: 0;
    }

    .footer__col:last-child {
        margin-right: 0;
    }

    .footer__list {
        margin-bottom: 10px;
    }

    .footer__heading {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 10px;
    }

    .footer__button {
        padding: 8.35px 25.05px 9.65px 24.95px;
    }

    .footer__btn {
        font-size: 13px;
        line-height: 16px;
    }

    .footer__icons-inner {
        margin-top: 20px;
        margin-bottom: 30px;
        flex-direction: column;
    }

    .footer__icons-link svg {
        width: 30px;
    }

}
/* ====================================415========================================= */
@media (max-width: 415px) {
    .photo__inner {
        align-items: center;
        justify-content: center;
        margin-top: -45px;
        margin-left: 0;
    }
    .girls__inner {
        margin-top: -50px;
    }
}
/* ====================================390========================================= */
@media (max-width: 390px) {
    .photo {
        background: url("../images/mobile.png") no-repeat;
        background-size: 100%;
        background-position: center center;
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }
    .photo__inner {
        margin-left: 0;
    }
    .heading__title {
        margin-top: 100px;
        font-size: 22px;
        line-height: 80px;
    }

    .heading__subtitle {
        font-size: 12px;
        line-height: 15px;
    }
    .photo__heading {
        margin-left: 0;
    }
    .photo__button {
        padding: 9.35px 21.71px 9.65px 20.29px;
        margin-left: 0;
    }

    .photo__btn {
        font-size: 12px;
        line-height: 15px;
    }

    /* ================================== */

    .girls__inner {
        padding: 67px 16px 0;
        margin-top: 0;
        justify-content: center;
    }

    .girls__photo {
        display: none;
    }

    .girls__heading {
        text-align: center;
        font-size: 16px;
    }

    .girls__par {
        max-width: 358px;
        font-size: 12px;
        line-height: 24px;
    }

    /* ================================== */

    .history__inner {
        margin-top: 60px;
        padding: 0px 16px;
    }

    .history__heading {
        font-size: 16px;
        margin-bottom: 49px;
    }

    .history__blocks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .history__block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .history__block {
        margin-bottom: 45px;
    }

    .history__block:nth-child(2) {
        flex-direction: column;
    }

    .history__block:last-child {
        margin-bottom: 0;
    }

    .history__photo-img {
        max-width: 221px;
        margin-bottom: 15px;
    }

    .history__title1, .history__title2, .history__title3 {
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 12px;
    }

    .history__par1, .history__par2, .history__par3 {
        text-align: center;
        font-size: 12px;
        line-height: 24px;
        max-width: 344px;
    }

    /* ================================== */

    .map__heading {
        font-size: 16px;
        line-height: 36px;
        margin-bottom: 49px;
    }

    .map__photo {
        margin-bottom: 32px;
    }

    .map__button {
        padding: 8.35px 16.05px 9.65px 16.95px;
        margin-bottom: 76px;
    }

    .map__btn {
        font-size: 13px;
        line-height: 16px;
    }

    /* ================================== */
}

/* ====================================350========================================= */
/* @media (max-width: 350px) {
    .photo__heading {
        margin-left: -55px;
    }

    .photo__button {
        margin-left: -55px;
    }
} */